.page {
  height: 100vh;
  min-height: 300px;
  background: linear-gradient(
    to left bottom,
    rgb(255, 254, 251),
    rgb(233, 231, 231)
  );

  background-image: url('/images/bg_pattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

navbar-item {
  cursor: pointer;
  transition: all 0.9s ease 0.1s;
  text-transform: lowercase;
}

navbar-item:hover,
navbar-item:focus {
  color: #218b74 !important;
  border-bottom: 4px solid #e2e621;
  transition: all 0.9s 0.1s ease;
}

.min {
  min-width: 300px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  height: 100%;
}

.me-img {
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
}

#me {
  position: relative;
  transform: scale(1.2);
  bottom: -198px;
}

.is-desktop {
  display: none;
  visibility: hidden;
}

.uk-navbar {
  padding-top: 15px;
}